@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.mainWrapper {
  display: flex;
  flex-direction: row;
  width: min-content;
  justify-content: center;
  z-index: 1;
  
  @include media(tablet-only) {
    flex-direction: column;
    gap: 20px;
  }

  @include media(mobile-only) {
    flex-direction: column;
    gap: 12px;
    max-width: 280px;
  }
}

.dashboardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media(tablet-only) {
    display: flex;
    flex-direction: row;
  }

  &::after { 
    @include media(desktop) {
      position: absolute;
      right: 0;
      content: '';
      width: 3px;
      height: 100vh;
      background: linear-gradient(to right, #DCDCDF 66%, #FFFFFF 33%);
    }
  }
}

.navigation {
  display: none;
}

.inner {
  margin-top: 120px;

  @include media(mobile-only) {
    margin-top: 72px;
  }
}

.dashboardInfo {
  width: 395px;

  @include media(desktop) {
    margin-right: 69px;
  }

  @include media(tablet-only) {
    width: 336px;
  }
}

.dataWrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;  

  @include media(desktop) {
    margin-top: 132px;
    margin-left: 69px;
  }

  @include media(mobile-only) {
    flex-direction: column;
  }
}

.doughnutWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
}

.tableWrapper {
  margin-top: 65px;

  @include media(tablet-only) {
    margin-top: 20px;
  }

  @include media(mobile-only) {
    margin-top: 0;
  }
}

.selectWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  @include media(mobile-only) {
    flex-direction: column;
    gap: 20px;
  }
}

.images {
  max-width: 336px;
  margin-bottom: 0;
  
  &__pink {
    position: absolute;
    background-image: url(../../assets/images/ellipse-pink.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 618px;
    height: 547px;
    right: 0px;
    top: 9%;
    filter: blur(30px);
    -webkit-filter: blur(30px);
    transform: rotate(-0.06deg);
    z-index: -1;

    @include media(tablet-only) {
      right: -250px;
      top: -50px;
    }
  }

  &__purple {
    position: absolute;
    background-image: url(../../assets/images/ellipse-purple.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 618px;
    top: 508px;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    transform: rotate(-60deg);
    left: -85px;
    bottom: 0px;
    z-index: -1;

    @include media(tablet-only) {
      left: -85px;
      bottom: 0px;
      transform: rotate(-10deg);
    }
  }
}
