@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.wrapper {
  @include media(mobile-only) {
    display: flex;
    flex-direction: column;
  }

  @include media(tablet-only) {
    display: flex;
    flex-direction: column;
  }
  position: relative;
  display: flex;
  margin-top: 40px;
}
.inner {
  @include media(tablet-only) {
    display: flex;
    margin-bottom: 20px;
  }
}

.dashboardInfo {
  @include media(tablet-only) {
    width: 336px;
  }
  width: 480px;
}

.vector {
  @include media(desktop){
  position: absolute;
  top: 0;
  left: 480px;
  width: 0;
  height: 100vh;
  border-right: 1px solid #e7e5f2;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
    1px 0px 0px rgba(255, 255, 255, 0.6);
  }
}

.content {
  @include media(tablet-only) {
    padding-top: 0px;
  }
  margin-left: 69px;
  padding-top: 6px;
}

// .decorFirst{

// position: absolute;
// width: 618px;
// height: 547px;
// left: -53.33px;
// top: 271px;

// background: #c5baff7c;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// transform: rotate(16.86deg);
// }

// .decorSecond{
//   position: absolute;
//   width: 618px;
//   height: 547px;
//   left: 844.41px;
//   top: -253px;

//   background: #FFD8D0;
//   transform: rotate(21.94deg);
// }
