.btnAddTransaction {
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #24cca7;
  background-image: url('../../../assets/icons/plus.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.btnAddTransaction:hover,
.btnAddTransaction:focus {
  background-color: var(--btn-secondary-color);
  color: var(--btn-primary-color);
  transform: scale(1.04);
}
