@import '../../../styles/mixin';
@import '../../../styles/variables';
@import '../../../styles//fonts';

.auth_form{
 position: relative;
 padding-top: 113px;
 padding-bottom: 106px;
 padding-left: 20px;
 padding-right: 20px;
 display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
 flex-direction: column;
 flex-grow: 1;
 min-width: 320px;
 margin-left: auto;
 margin-right: auto;
 background-color: var(secondary-bg-color);

 @include media(tablet) {
   max-width: 533px;
   padding-top: 40px;
   padding-bottom: 60px;
   padding-right: 0;
   padding-left: 0;
   border-radius: 20px;
   background-color: #fff;
}

 &_inner_logo{
   display: flex;
   align-items: center;
   margin-bottom: 66px;
 }
 &_title{
   margin-left: 17px;
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 22px;
   line-height: 45px;
   display: flex;
   align-items: center;
   color: var(--title-black-color);

   @include media(tablet){
     margin-left: 20px;
     font-size: 30px;
     line-height: 45px;
   }
 }


 &_logo{
 width: 30px;
 height: 30px;

 @include media(tablet){
   width: 40px;
   height: 40px;
 }
 }
 &_label{
   border-bottom: 1px solid #E0E0E0;
   width: 280px;
   margin-bottom: 40px;
   font-family: 'Circe';
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   // color: var(--header-grey-color);

  &:hover{
   color: var(--main-currency-bg-color);
  }
  @include media(tablet){
   width: 410px;
  }
 }
 
 &_span{
  padding-left: 12px;
  display: flex;
 }

 &_input{
  padding-left: 5px;
  margin-left: 22px;
  margin-bottom: 8px;
 //  color: var(--header-grey-color);
  font-family: 'Circe';
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   background-color:#fff;
 }
 ::placeholder {
   color: #bdbdbd;
 }
 &_validation{
 font-weight: 400;
 font-size: 10px;
 line-height: 1.2;
 letter-spacing: 0.04em;
 color: var(--expenditure-red-color); 

 }
 &_inner_btn{

 }
 &_btn_login{
 height: 50px;
 width: 280px;
 margin-bottom: 20px;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 padding: 13px 98px;
 border-radius: 20px;
 background-color: var(--btn-primary-bg-color);
 border: none;
 font-family: 'Circe';
 font-weight: 400;
 font-size: 18px;
 line-height: 27px;
 text-align: center;
 letter-spacing: 0.1em;
 text-transform: uppercase;
 color:var(--text-white-color);
 cursor: pointer;
}
 
 &_btn_register{
   height: 50px;
   width: 280px;
   margin-bottom: 20px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 13px 55px 13px 61px;
   border-radius: 20px;
   font-family: 'Circe';
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color:var(--stat-home-color);
   cursor: pointer;
   background:var(--btn-primary-color);
   border: 1px solid #4A56E2;
 }
 &_google_button{
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 11px 32px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: 0.02em;
   color: var(--title-black-color);
   text-decoration: none;
   cursor: pointer;
   background-color: #f6f7fb;
   border-radius: 6px;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,.15);
   transition: transform .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1); 

   &:hover {
   transform: scale(1.05);
 }

 }
 &_icon_google{
   margin-right: 10px;
   width: 18px;
   height: 18px;
 }
}
