@import '../../styles/fonts';
@import '../../styles/mixin';
@import '../../styles/variables';


.CurrencyContainer {
    // position: absolute;
    width: 393px;
    height: 331px;
 
    background: var(--main-currency-bg-color);
    border-radius: 30px;

    position: relative;
    // margin-top: 32px;


    @include media(mobile-only) {
        width: 280px;
        height: 174px;
        // margin-top: 28px;
        margin-left: 20px;
        margin-right: 20px;
    }

    @include media(tablet-only) {
        width: 336px;
        height: 182px;
        margin-left: 32px;
        // margin-right: 32px;
    }

}

.Head {
    // position: absolute;
    width: 393px;
    height: 60px;
    left: 18px;
    top: 326px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px 30px 0px 0px;

    @include media(mobile-only) {
        width: 280px;
        height: 50px;
    }

    @include media(tablet-only) {
        width: 336px;
        height: 50px;
    }
}

.TitleList {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.Title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--text-white-color);
}

.FieldWrap {
    margin-top: 24px;
}

.FieldContainer {
    display: flex;
    justify-content: space-around;
}

.FieldItem {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-white-color);

}

.CurrencyBg {
    position: absolute;
    bottom: 0;
    width: 393px;
    height: 118px;
    background-image: url(../../../assets//images//desktop/1x/CurrencyVectorDesktop1x.png);

    @include media(mobile-only) {
        width: 280px;
        height: 93px;
        background-image: url(../../../assets//images//mobile/1x/CurrencyVectorMobile1x.png);
    }

    @include media(tablet-only) {
        width: 336px;
        height: 50px;
        background-image: url(../../../assets//images//tablet/1x/CurrencyVectorTablet1x.png);
    }
}