@import '../../shared/styles/variables';
@import '../../shared/styles/mixin';
@import '../../shared/styles/fonts';

.NavDiv {
    @include media(mobile-only) {
        display: flex;
        flex-direction: row;
        padding-top: 72px;
        justify-content: space-evenly;
    }
}