@import '../../../shared/styles/mixin';
@import '../../../shared/styles/variables';
.section_register_page{
background-color: var(--secondary-bg-color);
height: 100vh;
@include media(tablet){
  background-color: #E5E5E5;

}
&_title{

}
}